@model IEnumerable<InternalProject.Models.ProductVM>
@{
    ViewBag.Title = "Cart";
}

<h2>Your Order</h2>

@*<code>***Under Construction***</code>
<code>***Login to use cart feature***</code>*@


<div class="alert alert-info" role="alert">
    <h4>Hi guest, welcome</h4>
    <h4>Please login first !</h4>
</div>