
@{
    ViewBag.Title = "Update Password Confirmation";
}

@*<h2>Update Password Confirmation</h2>*@

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<br  />
<div>
    @*<p>
            Your password has been updated. Please @Html.ActionLink("click here to log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>*@

    <div class="alert alert-success" role="alert">
        @*<h4>Your password has been updated. Please @Html.ActionLink("click here to Login", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4>*@
        <h4>Your password has been updated. Please @Html.ActionLink("click here to Login", "Logout", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4>
    </div>

</div>

